@import "./reset.min.css";
@import "./fonts.css";
@import "./animations.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@layer base {
    body {
        @apply bg-primary
    }

    #app {
        @apply max-w-lg mx-auto overflow-x-hidden
    }

    #app::-webkit-scrollbar {
        display: none;
    }

    button {
        @apply p-0 m-0 border-none
    }

    .base-button-empty {
        @apply py-[10px] bg-button px-[21px] rounded-button border-[2px] border-[#5B7DFB] border-solid text-[14px] font-[600] leading-[1.2] text-[#fff]
    }

    .base-button-rounded {
        @apply bg-button-gradient rounded-[100px] text-[#fff] uppercase py-[6px] px-[18px] text-[16px] font-[700]
    }

    .base-button-fortune {
        @apply bg-[#FF53A9] rounded-[100px] text-[#fff] uppercase py-[17px] px-[24px] text-[16px] font-[700];
        box-shadow: 0px 0px 12px 0px #B21E61;
    }

    .base-button-fortune-inverse {
        @apply rounded-[100px] bg-[#000000B3] border-[#EC3591] border-[2px] border-solid  text-[#fff] uppercase py-[15px] px-[24px] text-[16px] font-[700];
        box-shadow: 0px 0px 12px 0px #B21E61;
    }

    .base-button-quiz {
        @apply font-[600] block text-center leading-[1.2] text-[16px] py-[18px] px-[24px] bg-[#642DFF] rounded-[100px] text-[#fff];
        box-shadow: 0px 0px 12px 0px rgba(143, 103, 255, 0.37);
    }

    .base-button-icon {
        @apply flex items-center justify-center;
    }

    .absolute-center-x {
        @apply absolute left-[50%] transform translate-x-[-50%]
    }

    .absolute-center-y {
        @apply absolute top-[50%] transform translate-y-[-50%]
    }

    .pink-title {
        color: #FFEFF4;
        text-shadow:
                -1px -1px 0 #D81276,
                1px -1px 0 #D81276,
                -1px  1px 0 #D81276,
                1px  1px 0 #D81276,
                0px 2px 4px rgba(255, 75, 165, 0.74);
    }

    .numeric-dot {
        @apply before:bg-[#2E2E5C] before:flex before:items-center before:justify-center before:rounded-full before:absolute before:w-[24px] before:h-[24px] before:text-[#fff] before:top-0 before:flex-shrink-0;
    }
    .numeric-dot::before {
        right: calc(100% + 13px);
        font-size: 13px;
        font-weight: 600;
        line-height: 120%;
        color: #F4F5FB;
    }

    .numeric-dot-line {
        @apply before:block before:absolute before:top-0 before:left-[14px] before:w-[2px] before:bg-[#2F2F5C] before:content-[''];
    }

    .numeric-dot-line::before {
        height: calc(100% - 50px);
    }

    .faq-item-button {
        border-radius: 4.571px;
        padding: 5px;
        background: linear-gradient(151deg, #2E2E5C 16.61%, #202430 123.73%);
    }
}
